* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Mono', 'Courier New', Courier, monospace;
    color: whitesmoke;
}

/*Header/Nav Styles*/
header {
    padding: 20px 35px;
    background-image: linear-gradient(to bottom right, pink, white);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header a {
    text-decoration: none;
    color: whitesmoke
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header nav ul li a:hover {
    color: pink;
    text-shadow: none;
}

/*HEADER END*/

/*Hero Styles*/

.hero {
    background-image: url("../images/cherry-hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content:center;
}

.hero-cta {
    width: 35%;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    text-align: center;
    font-size: 55px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

/*Hero Styles End*/

/*main section stlyes*/

.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    color: pink;
}

.main-section {
    margin: 5px auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    text-align: center;
}


/* utility styles*/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.flex-row {
    display:flex;
}

.pink-text-white-bg {
    color: pink;
    background-color: whitesmoke;
}

.white-text-pink-bg {
    color: whitesmoke;
    background-color: pink;
}

.white-text {
    color: whitesmoke;
}

.pink-text {
    color: pink;
}

.width-15 {
    width: 15%;
}